.full {
  display: none;
}

.full.active {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  /*margin-left: -50vw;
  margin-top: -50vh;
  top: 50%;
  left: 50%;*/
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 2em;
}

.container {
  display:none;
  background: white;
  margin: auto;
}

.full.active .container {
  display: block;
}

.always-open {
  max-width: 300px;
}

.always-open .container {
  display: block;
}

.always-open canvas {
  border: 1px solid black;
}

canvas {
  margin: auto;
  display: block;
  box-sizing: border-box;
}

.controls {
  margin: auto;
  display: flex;
  flex-direction: row;
}

button {
  font-size: 20px;
  margin: 10px auto;
  height: 30px;
  min-width: 50px;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: none;
  background: white;
  color: black;
  cursor: pointer;
}
